// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: black;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), asset_url("back3_a.jpg");
  background-size: cover;

}

.entete {
  text-align: center;
  // background: black;

  #logo {
    width: 500px;
    margin-bottom: 8px;
}
}



.container-page {
  width: 100%;
  padding: 8px 8px;

  // height: 100vh;
   // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), asset_url("back3_a.jpg");
  //background-size: cover;
  // margin: 0px auto;

}

.cards-container {
  // margin: 0 auto;
  display: flex;

  .cards {
    flex-grow: 1;
    padding: 30px;
  }
}

#notice {
  align-text: center;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 8px;
  color:white;
}

.container-show {
width: 100%;
padding: 8px 8px;

.diviseur {
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  // padding: 16px 32px;

  .droite {

    // flex-grow: 1;
    width: 50%;
    padding: 16px 0px;
    // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), asset_url("back3_a.jpg");
    border-radius: 5px;

      .contenu {
      // box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      box-shadow: 0 1px 20px rgba(255,255,255,0.3);
      background: rgba(20,20,20,0.9);
      margin-top: 16px;
      border-radius: 5px;
      padding: 16px 32px;
      color: white;

// width: 90%;

      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 20px;

      a {

      text-decoration: none;
      color: white;

        i {
          color: rgba(255,255,255,0.7);
          font-size: 20px;
        }
      }
      li {
        list-style: none;
      }
      ul {
        padding-bottom: 16px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(205,205,205,0.4);
      }
      p {
        margin-bottom: 0px;
      }
    }
  }



  img {
    width: 20%;
    top: 0;
    // height: 800px;
    object-fit: cover;
    opacity: 0.7;
    margin-right: 60px;

  }
}

}

.button-bottom {
  display: flex;
  justify-content: space-between;
}


